* {
    /* border: 1px solid red; */
    /* box-sizing: border-box; */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
    background-color: rgb(247, 220, 224);
    color: #26453e;
}

h1 {
    text-align: center;
    color: #26453e
}

p {
    font-size: 20px;
    margin: 10px;
}

button {
    margin: 20px;
    color: #26453e;
    border-radius: 5px;
    border: 2px solid #26453e;
}

#game-table {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 15px;
    margin-top: 10px;
    border: 5px solid #26453e;
    border-radius: 30px;
    padding: 15px;
}

.reminder {
    font-size: 12px;
}

.card {
    text-align: center;
    font-size: 120px;
    margin: auto;
    display: grid;
    height: 150px;
    width: 150px;
    background-color: #26453e;
    border-radius: 20px;
}

.keeping-score {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.number-of-guesses {
    /* align-items: start; */
    font-size: 40px;
}

.guesses-left {
    font-size: 40px;

}