* {
    /* border: 1px solid red; */
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-family: 'Tilt Neon', cursive;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    height: 100%;
    background-color: rgb(247, 220, 224);
    color: #26453e;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: #26453e
}

p {
    font-size: 20px;
    margin: 10px;
}

button {
    margin: 50px;
    color: #26453e;
    border-radius: 5px;
    border: 2px solid #26453e;
}

#game-table {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    margin-top: 10px;
    border: 5px solid #26453e;
    border-radius: 30px;
    padding: 15px;
}

.message-updates {
    font-size: 35px;
}

.reminder {
    font-size: 14px;
}

.card {
    text-align: center;
    font-size: 120px;
    margin: auto;
    display: grid;
    height: 150px;
    width: 150px;
    background-color: #26453e;
    border-radius: 20px;
}

.keeping-score {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.keeping-score>div {
    text-align: center;
}

.guesses-left,
.number-of-pairs {
    font-size: 40px;
}