* {
    /* border: .0625rem solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-family: 'Tilt Neon', cursive;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    background-color: rgb(247, 220, 224);
    color: #26453e;
}

h1 {
    text-align: center;
    font-size: 3.125rem;
    color: #26453e;
    margin-top: 1rem;
}

p {
    font-size: 1.25rem;
    margin: 0;
    /* margin: .625rem; */
}

button {
    margin: 1.25rem;
    color: #26453e;
    border-radius: .3125rem;
    border: .125rem solid #26453e;
    font-size: 1rem;
    padding: 6px 12px;
}

.message-updates {
    font-size: 2.1875rem;
    /* margin-bottom: 1rem; */
}

.score-container {
    display: flex;
    column-gap: 28.125rem;
}

.keeping-score {
    margin: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
}

.keeping-score>div {
    text-align: center;
}

.guesses-left,
.number-of-pairs {
    font-size: 2.5rem;
}

.reminder {
    font-size: .875rem;

}

#game-table {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: .9rem;
    margin-top: .6rem;
    border: .3rem solid #26453e;
    border-radius: 1.875rem;
    padding: .9375rem;
    margin-bottom: 1rem;
}

.card {
    text-align: center;
    font-size: 5.5rem;
    margin: auto;
    display: grid;
    line-height: 7.5rem;
    height: 7.5rem;
    width: 7.5rem;
    background-color: #26453e;
    border-radius: 1.25rem;
}